@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}


/*Pages*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #F2F2F2;
  color: #000;
  width: 1280px;
  width: 100%;
}

body {
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.main-container {
  flex-grow: 1;
}

.navigation{
  display: flex;
  min-width: 1200px;
  height: 65px;
  justify-content: space-evenly;
  padding: 0 70px;
}

.navigation-list {
  padding: 0;
  width: 500px;
  margin: auto 0;

}

.navigation-user {
  min-width: 320px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  width: 65px;
}

.navigation-item {
  list-style: none;
  display: inline;
  height: 65px;
  margin-right: 35px;
}

.navigation-user .navigation-item {
  margin-right: 0px;
}

.navigation-logo {
  z-index: 5;
}

.button {
  color:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #756157;
}

.page-container {
  padding: 0;
  width: 1200px;
  margin: 0 auto;
}

.about-intro {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.about-compare {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  text-align: center;
  list-style:none;
  outline: #7DB54F;
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  height: 383px;
}

.advantages-item:nth-child(n+3) {
  width: 400px;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;

}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}



.list-container {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

}

.exten-advantage {
  display: flex;
  width: 1200px;
}

.exten-advantage-item {
  width: 400px;
}

.exten-list {
  display: flex;
  width:1200px;
}

.exten-list li {
  width:400px;
  height:384px;
}



.interested {
  text-align: center;
  height: 417px;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interested-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.interested .button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  width: 1200px;
  height: 411px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.subscribe-description {
  text-align: center;
}

.subscribe-form {
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
}

.subscribe .button {
  font-size: 20px;
  line-height: 36px;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 70px;
  align-items: center;
  padding-bottom: 30px;
}

.social-list {
  width: 120px;
  height: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.phone-number {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.inner-main{
  margin: 0 auto;
}

.filter-bg{
  background-image: url("../img/filter-bg.jpg");
    background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 393px;
  color: #FFFFFF;
  background-color: #000000;
  margin-bottom: 15px;
  padding: 0 70px
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
}

.breadcrumbs {
  list-style: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: inline;
  font-size: 16px;
  line-height: 21px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.hotels-stars {
  margin-top: auto;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.hotels-filter {
  display: flex;
  margin: 0;
  padding: 0;

}

.hotels-filter-group {
  border: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.hotels-filter-group ul {
  list-style: none;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.result-buttons {
  display: flex;
  padding: 57px 70px 0;
  align-items: center;
}

.result-buttons .button {
  width: 48px;
  height: 48px;
}

.result-buttons a:nth-child(1) {
  margin-left: auto;
  align-self: flex-end;
}

.result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.result-sort {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: 190px;

  padding: 14px 43px 14px 19px;
}

.hotels-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0;
  padding: 57px 70px 0;
}

.hotels-card {
  padding: 20px;
  width: 340px;
  height: 438px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  grid-column-start: 1;
  grid-column-end: 3;
}

.divider-pag {
  border-bottom: 1px solid #E6E6E6;
  margin: 66px 0 30px;
  padding: 0 70px;
}

.pag-wrapper {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}

.paggination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.paggination-item {
  list-style: none;

  width: 55px;
  height: 55px;
  margin: 4px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  line-height: 55px;

}

.paggination-link {
  color: #FFFFFF;
  text-decoration: none;
  margin:auto;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
}

.hotels-quantity, .hotels-select option {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-select {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  height: 48px;

}

/*Modifications*/
.current {
  border-bottom: 2px solid #756257;
  padding-bottom: 17px;
}

.brown {
  background-color:#756157 ;
}

.blue {
  background-color:#82B3D3;
}

.green {
  background: #7DB54F
}

.empty {
  border: none;
  background-color:transparent;
}

.fav {
  width: 140px;
  margin-left: auto;
}


.rat {
  color: #333333;
  background-color: #F2F2F2;
  width: 160px;
  margin: 0;
  margin-top: 15px;
}

.sub-bg {
  background-image: url("../img/subscribe-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  color: #FFFFFF;
  
}

.light {
  color:#FFFFFF;
  background-color: #82B3D3;
  
}

.dark {
  background: rgba(131, 179, 211, 0.12);
}

.moredark {
  background: rgba(131, 179, 211, 0.2);
}

.active {
  background: #F2F2F2;
  color:#000000;
  width: 55px;
  height: 55px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}